<link rel = "stylesheet" type = "text/css" href = "retro.css" />  
<h2 id="extRousrCore"><a name="extRousrCore" href="#extRousrCore">#</a> extRousrCore</h2>
<h4 id="sr_ensure_singleton"><a name="sr_ensure_singleton" href="#sr_ensure_singleton">#</a> <code>sr_ensure_singleton</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_singleton_name</strong></td>
<td>{String} global name to use for the singleton</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>{Boolean} false if an existing instance is destroyed - be sure to check CleanUp / Destroys</td>
</tr>
</tbody>
</table>
<pre><code>sr_ensure_singleton(_singleton_name)
</code></pre>
<p>called <code>with</code> object to be singleton - ensure the name passed is a singleton, will call instance destroy on a different id</p>
<hr>
<h4 id="sr_ensure_font"><a name="sr_ensure_font" href="#sr_ensure_font">#</a> <code>sr_ensure_font</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>font</strong></td>
<td>_font_index resource index</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>None</td>
</tr>
</tbody>
</table>
<pre><code>sr_ensure_font(font)
</code></pre>
<p>cache the current font</p>
<hr>
<h4 id="sr_ensure_color"><a name="sr_ensure_color" href="#sr_ensure_color">#</a> <code>sr_ensure_color</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_color</strong></td>
<td>{Real} color value to set</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>None</td>
</tr>
</tbody>
</table>
<pre><code>sr_ensure_color(_color)
</code></pre>
<p>cache the current color</p>
<hr>
<h4 id="sr_color_hex"><a name="sr_color_hex" href="#sr_color_hex">#</a> <code>sr_color_hex</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>color</strong></td>
<td>_hex_color in $RRGGBB</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>{Real} color formatted in BBGGRR for GML</td>
</tr>
</tbody>
</table>
<pre><code>sr_color_hex(color)
</code></pre>
<p><a href="https://forum.yoyogames.com/index.php?threads/why-are-hex-colours-bbggrr-instead-of-rrggbb.16325/#post-105309">Convert the RGB to BGR</a></p>
<hr>
<h4 id="sr_color_glsl"><a name="sr_color_glsl" href="#sr_color_glsl">#</a> <code>sr_color_glsl</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_color</strong></td>
<td>{Real} color to convert</td>
</tr>
<tr>
<td><strong>[_out_array]</strong></td>
<td>{Array} optional out array to not allocate a new array</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>{Array} array of colors in float range</td>
</tr>
</tbody>
</table>
<pre><code>sr_color_glsl(_color, [_out_array])
</code></pre>
<p>convert a color to an array float values [0.0 - 1.0]</p>
<hr>
<h4 id="sr_next_pot"><a name="sr_next_pot" href="#sr_next_pot">#</a> <code>sr_next_pot</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_va</strong></td>
<td>{Real} note: if a float is given, its rounded up to 'fit' the float into the POT</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>{Real} nearest power of 2 to given integer</td>
</tr>
</tbody>
</table>
<pre><code>sr_next_pot(_va)
</code></pre>
<p>return the nearest power of 2 for a given number (integer)</p>
<hr>
<h4 id="sr_shadow_text"><a name="sr_shadow_text" href="#sr_shadow_text">#</a> <code>sr_shadow_text</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_x</strong></td>
<td>{Real} x position to draw text</td>
</tr>
<tr>
<td><strong>_y</strong></td>
<td>{Real} y position to draw text</td>
</tr>
<tr>
<td><strong>_text</strong></td>
<td>{String} text to draw</td>
</tr>
<tr>
<td><strong>_fg</strong></td>
<td>{Real} foreground color</td>
</tr>
<tr>
<td><strong>_bg</strong></td>
<td>{Real} background (shadow) color</td>
</tr>
<tr>
<td><strong>[_xoff=1]</strong></td>
<td>{Real} x offset for the shadow</td>
</tr>
<tr>
<td><strong>[_yoff=1]</strong></td>
<td>{Real} y offset for the shadow</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>None</td>
</tr>
</tbody>
</table>
<pre><code>sr_shadow_text(_x, _y, _text, _fg, _bg, [_xoff=1], [_yoff=1])
</code></pre>
<p>Draw text with a shadow</p>
<hr>
<h4 id="sr_outline_text"><a name="sr_outline_text" href="#sr_outline_text">#</a> <code>sr_outline_text</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_x</strong></td>
<td>{Real} x position for text</td>
</tr>
<tr>
<td><strong>_y</strong></td>
<td>{Real} y position for text</td>
</tr>
<tr>
<td><strong>_text</strong></td>
<td>{String} text to draw</td>
</tr>
<tr>
<td><strong>_fg</strong></td>
<td>{Real} foreground color</td>
</tr>
<tr>
<td><strong>_bg</strong></td>
<td>{Real} background color</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>None</td>
</tr>
</tbody>
</table>
<pre><code>sr_outline_text(_x, _y, _text, _fg, _bg)
</code></pre>
<p>draw text with an oultine</p>
<hr>
<h4 id="sr_error"><a name="sr_error" href="#sr_error">#</a> <code>sr_error</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>[_system]</strong></td>
<td>{String} system name for logging</td>
</tr>
<tr>
<td><strong>_text</strong></td>
<td>{String} error message</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>None</td>
</tr>
</tbody>
</table>
<pre><code>sr_error([_system], _text)
</code></pre>
<p>Error wrapper (eventual logging system)</p>
<hr>
<h4 id="sr_log"><a name="sr_log" href="#sr_log">#</a> <code>sr_log</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>[_system]</strong></td>
<td>{String} system name for logging</td>
</tr>
<tr>
<td><strong>_text</strong></td>
<td>{String} log message</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>None</td>
</tr>
</tbody>
</table>
<pre><code>sr_log([_system], _text)
</code></pre>
<p>Log wrapper (eventual logging system)</p>
<hr>
<h4 id="sr_execute"><a name="sr_execute" href="#sr_execute">#</a> <code>sr_execute</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_script_index</strong></td>
<td>{Real} script to execute</td>
</tr>
<tr>
<td><strong>_params</strong></td>
<td>{Array} parameters to call, in an array</td>
</tr>
<tr>
<td><strong>[paramCount]</strong></td>
<td>{Real} if you've already got the count ready, pass it, or else it's computed.</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>{*} return value from script call</td>
</tr>
</tbody>
</table>
<pre><code>sr_execute(_script_index, _params, [paramCount])
</code></pre>
<p>rousr_execute - call a function with variadic argument support</p>
<hr>
<h4 id="sr_aabb_contains_line"><a name="sr_aabb_contains_line" href="#sr_aabb_contains_line">#</a> <code>sr_aabb_contains_line</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_line_x1</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>_line_y1</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>_line_x2</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>_line_y2</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>_rect_min_x</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>_rect_min_y</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>_rect_max_x</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>_rect_max_y</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>{Boolean} true if an aabb and line intersect</td>
</tr>
</tbody>
</table>
<pre><code>sr_aabb_contains_line(_line_x1, _line_y1, _line_x2, _line_y2, _rect_min_x, _rect_min_y, _rect_max_x, _rect_max_y)
</code></pre>
<p>courtesy of https://stackoverflow.com/questions/1585525/how-to-find-the-intersection-point-between-a-line-and-a-rectangle</p>
<hr>
<hr>
<h2 id="extRousrDs"><a name="extRousrDs" href="#extRousrDs">#</a> extRousrDs</h2>
<h4 id="sr_array"><a name="sr_array" href="#sr_array">#</a> <code>sr_array</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_rousr_array</strong></td>
<td>{Array:ERourArray} rousr_array to read / write</td>
</tr>
<tr>
<td><strong>_index</strong></td>
<td>{Real} index to read or write to</td>
</tr>
<tr>
<td><strong>[_val]</strong></td>
<td>{*} if passed, value to set element to, same as insert.</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>None</td>
</tr>
</tbody>
</table>
<pre><code>sr_array(_rousr_array, _index, [_val])
</code></pre>
<p>return an index, or set an index in a <code>_rousr_array</code></p>
<hr>
<h4 id="sr_array_create"><a name="sr_array_create" href="#sr_array_create">#</a> <code>sr_array_create</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>[_array]</strong></td>
<td>{Array} array to wrap</td>
</tr>
<tr>
<td><strong>[_arraySize]</strong></td>
<td>{Real} if <code>_array</code>s size is cached, pass it.</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>None</td>
</tr>
</tbody>
</table>
<pre><code>sr_array_create([_array], [_arraySize])
</code></pre>
<p>create a <code>rousr style</code> array, with the size as the first element, and the actual array as second</p>
<hr>
<h4 id="sr_array_data"><a name="sr_array_data" href="#sr_array_data">#</a> <code>sr_array_data</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_rousr_array</strong></td>
<td>{Array:ERousrArray} <code>rousr_array</code> to get the data from</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>{Array} data in the <code>rousr_array</code></td>
</tr>
</tbody>
</table>
<pre><code>sr_array_data(_rousr_array)
</code></pre>
<p>return the data of the <code>rousr_array</code></p>
<hr>
<h4 id="sr_array_destroy"><a name="sr_array_destroy" href="#sr_array_destroy">#</a> <code>sr_array_destroy</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_array</strong></td>
<td>{Array:ERourArray} array to destroy</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>None</td>
</tr>
</tbody>
</table>
<pre><code>sr_array_destroy(_array)
</code></pre>
<p>destroy a <code>rousr style</code> array - currently does nothing, but future proofing by including.</p>
<hr>
<h4 id="sr_array_find"><a name="sr_array_find" href="#sr_array_find">#</a> <code>sr_array_find</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_rousr_array</strong></td>
<td>{Array:ERourArray} rousr_array to search</td>
</tr>
<tr>
<td><strong>_val</strong></td>
<td>{*} value to search for</td>
</tr>
<tr>
<td><strong>[_startIndex=0]</strong></td>
<td>{Real} index to start searching from</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>{Real} index or -1 if not found</td>
</tr>
</tbody>
</table>
<pre><code>sr_array_find(_rousr_array, _val, [_startIndex=0])
</code></pre>
<p>returns the first occurence of _val beginning at _startIndex</p>
<hr>
<h4 id="sr_array_insert"><a name="sr_array_insert" href="#sr_array_insert">#</a> <code>sr_array_insert</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_rousr_array</strong></td>
<td>{Array} rousr array to insert value into</td>
</tr>
<tr>
<td><strong>_index</strong></td>
<td>{Real} index to insert value at</td>
</tr>
<tr>
<td><strong>_val</strong></td>
<td>{*} value to insert</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>{Boolean} true on success</td>
</tr>
</tbody>
</table>
<pre><code>sr_array_insert(_rousr_array, _index, _val)
</code></pre>
<p>insert a value into a rousr array</p>
<hr>
<h4 id="sr_array_pop_back"><a name="sr_array_pop_back" href="#sr_array_pop_back">#</a> <code>sr_array_pop_back</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_rousr_array</strong></td>
<td>{Array:ERourArray} rousr array to pop last value of</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>{*} back, or undefined on failure</td>
</tr>
</tbody>
</table>
<pre><code>sr_array_pop_back(_rousr_array)
</code></pre>
<p>pop the back of a rousr array and return it</p>
<hr>
<h4 id="sr_array_pop_front"><a name="sr_array_pop_front" href="#sr_array_pop_front">#</a> <code>sr_array_pop_front</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_rousr_array</strong></td>
<td>{Array:ERourArray} rousr array to pop last value of</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>{*} front or undefined</td>
</tr>
</tbody>
</table>
<pre><code>sr_array_pop_front(_rousr_array)
</code></pre>
<p>pop the front of an array and return it</p>
<hr>
<h4 id="sr_array_push_back"><a name="sr_array_push_back" href="#sr_array_push_back">#</a> <code>sr_array_push_back</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_rousr_array</strong></td>
<td>{Array:ERourArray} <code>_rousr_array</code> to push data to</td>
</tr>
<tr>
<td><strong>_val</strong></td>
<td>{*} value to push onto the array</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>{Real} index pushed or -1 on error</td>
</tr>
</tbody>
</table>
<pre><code>sr_array_push_back(_rousr_array, _val)
</code></pre>
<p>push a value on the end of a <code>rousr_array</code></p>
<hr>
<h4 id="sr_array_push_front"><a name="sr_array_push_front" href="#sr_array_push_front">#</a> <code>sr_array_push_front</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_array</strong></td>
<td>{Array} rousr_array to push data to</td>
</tr>
<tr>
<td><strong>_val</strong></td>
<td>{*} value to push onto the array</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>{Real} index pushed or -1 on error</td>
</tr>
</tbody>
</table>
<pre><code>sr_array_push_front(_array, _val)
</code></pre>
<p>push a value on the front of a rousr array</p>
<hr>
<h4 id="sr_array_push_unique"><a name="sr_array_push_unique" href="#sr_array_push_unique">#</a> <code>sr_array_push_unique</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_rousr_array</strong></td>
<td>{Array} rousr_array to push data to</td>
</tr>
<tr>
<td><strong>_val</strong></td>
<td>{*} value to push onto the array</td>
</tr>
<tr>
<td><strong>[_returnIndexOnExists=false]</strong></td>
<td>{Boolean} if true returns index if it already exists, otherwise returns undefined (to signal failure)</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>{Real} index pushed or -1 if it's not unique</td>
</tr>
</tbody>
</table>
<pre><code>sr_array_push_unique(_rousr_array, _val, [_returnIndexOnExists=false])
</code></pre>
<p>push a value on the end of a rousr array, but only if value isn't in the array already</p>
<hr>
<h4 id="sr_array_remove"><a name="sr_array_remove" href="#sr_array_remove">#</a> <code>sr_array_remove</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_rousr_array</strong></td>
<td>{Array} rousr_array to remove element at <code>_index</code> from</td>
</tr>
<tr>
<td><strong>_index</strong></td>
<td>{Real} index to remove from _array</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>{*} element at removed index, or undefined</td>
</tr>
</tbody>
</table>
<pre><code>sr_array_remove(_rousr_array, _index)
</code></pre>
<p>generate a new array with _index removed from the <code>_rousr_array</code></p>
<hr>
<h4 id="sr_array_remove_multi"><a name="sr_array_remove_multi" href="#sr_array_remove_multi">#</a> <code>sr_array_remove_multi</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_rousr_array</strong></td>
<td>{Array} rousr array to remove element at <code>_index</code> from</td>
</tr>
<tr>
<td><strong>_index_array</strong></td>
<td>{Real} index to remove from _array (note: normal array)</td>
</tr>
<tr>
<td><strong>[_index_array_size]</strong></td>
<td>{Real} size of <code>_index_array</code> if you've already cached it.</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>{Array} removed values or undefined if error</td>
</tr>
</tbody>
</table>
<pre><code>sr_array_remove_multi(_rousr_array, _index_array, [_index_array_size])
</code></pre>
<p>generate a new array with _index removed from the <code>_rousr_array</code></p>
<hr>
<h4 id="sr_array_size"><a name="sr_array_size" href="#sr_array_size">#</a> <code>sr_array_size</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong><code>rousr_array</code></strong></td>
<td>_rousr_array to get the size of</td>
</tr>
<tr>
<td><strong>[_new_size]</strong></td>
<td>{Real} if passed, sets the size of the array to this new size</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>{Real} size of <code>rousr_array</code> (before it was set new, if <code>_new_size</code> is passed)</td>
</tr>
</tbody>
</table>
<pre><code>sr_array_size(`rousr_array`, [_new_size])
</code></pre>
<p>return the size of the <code>rousr_array</code></p>
<hr>
<h4 id="sr_array_clear"><a name="sr_array_clear" href="#sr_array_clear">#</a> <code>sr_array_clear</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_rousr_array</strong></td>
<td>{Real} array to clear, sets size=0</td>
</tr>
<tr>
<td><strong>[_flush_mem=false]</strong></td>
<td>{Boolean} if true, we will replace the data array with a new, empty array.</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>{Array} _ra</td>
</tr>
</tbody>
</table>
<pre><code>sr_array_clear(_rousr_array, [_flush_mem=false])
</code></pre>
<p>emtpy a rousr_array</p>
<hr>
<h4 id="sr_stack_array_create"><a name="sr_stack_array_create" href="#sr_stack_array_create">#</a> <code>sr_stack_array_create</code></h4>
<p><strong>returns</strong>: {Array} rousr_stack_array</p>
<pre><code>sr_stack_array_create()
</code></pre>
<p>create a <code>rousr_stack_array</code> - a stack purely made of arrays</p>
<hr>
<h4 id="sr_stack_array_destroy"><a name="sr_stack_array_destroy" href="#sr_stack_array_destroy">#</a> <code>sr_stack_array_destroy</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_rousr_stack_array</strong></td>
<td>{Array} <code>rousr_stack_array</code> to destroy</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>None</td>
</tr>
</tbody>
</table>
<pre><code>sr_stack_array_destroy(_rousr_stack_array)
</code></pre>
<p>destroy a <code>rousr_stack_array</code> - since they're made up of arrays, this is unnecessary to call, but provided future API use or re-using stack arrays.</p>
<hr>
<h4 id="sr_stack_array_empty"><a name="sr_stack_array_empty" href="#sr_stack_array_empty">#</a> <code>sr_stack_array_empty</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_rousr_stack_array</strong></td>
<td>{Array} <code>rousr_stack_array</code> to check</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>{Boolean} true if <code>_rousr_stack_array</code> is empty</td>
</tr>
</tbody>
</table>
<pre><code>sr_stack_array_empty(_rousr_stack_array)
</code></pre>
<p>check if a stack is empty</p>
<hr>
<h4 id="sr_stack_array_pop"><a name="sr_stack_array_pop" href="#sr_stack_array_pop">#</a> <code>sr_stack_array_pop</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_rousr_stack_array</strong></td>
<td>{Array} <code>rousr_stack_array</code> array object to pop</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>{*} the end of the stack, or undefined if empty</td>
</tr>
</tbody>
</table>
<pre><code>sr_stack_array_pop(_rousr_stack_array)
</code></pre>
<p>pop the last <code>val</code>  from a <code>_rousr_stack_array</code></p>
<hr>
<h4 id="sr_stack_array_push"><a name="sr_stack_array_push" href="#sr_stack_array_push">#</a> <code>sr_stack_array_push</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_rousr_stack_array</strong></td>
<td>{Array} <code>rousr_stack_array</code> to push <code>_val</code> on to</td>
</tr>
<tr>
<td><strong>_val</strong></td>
<td>{*} value to push on stack</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>{Real} new top index</td>
</tr>
</tbody>
</table>
<pre><code>sr_stack_array_push(_rousr_stack_array, _val)
</code></pre>
<p>push a <code>_val</code> onto the stack of a <code>_rousr_stack_array</code></p>
<hr>
<h4 id="sr_stack_array_top"><a name="sr_stack_array_top" href="#sr_stack_array_top">#</a> <code>sr_stack_array_top</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_rousr_stack_array</strong></td>
<td>{Array} <code>rousr_stack_array</code> to get top index of</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>{Real} index of top, or -1 if empty</td>
</tr>
</tbody>
</table>
<pre><code>sr_stack_array_top(_rousr_stack_array)
</code></pre>
<p>return the top index of a <code>rousr_stack_array</code></p>
<hr>
<h4 id="sr_buffer_read_val"><a name="sr_buffer_read_val" href="#sr_buffer_read_val">#</a> <code>sr_buffer_read_val</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_buffer</strong></td>
<td>{Real} id of buffer we're reading the <em>next</em> value from</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>{Real</td>
</tr>
</tbody>
</table>
<pre><code>sr_buffer_read_val(_buffer)
</code></pre>
<p>Reads a value from a packed buffer, first reading data type to expect.</p>
<hr>
<h4 id="sr_buffer_write_val"><a name="sr_buffer_write_val" href="#sr_buffer_write_val">#</a> <code>sr_buffer_write_val</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_buffer</strong></td>
<td>{Real} buffer id to write to</td>
</tr>
<tr>
<td><strong>_val</strong></td>
<td>{Real</td>
</tr>
<tr>
<td><strong>[type=ERousrData.Invalid]</strong></td>
<td>{Real</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>{Boolean} true on success</td>
</tr>
</tbody>
</table>
<pre><code>sr_buffer_write_val(_buffer, _val, [type=ERousrData.Invalid])
</code></pre>
<p>writes a value to the buffer, but first writes the type</p>
<hr>
<h4 id="sr_buffer_rousr_type_to_buffer_type"><a name="sr_buffer_rousr_type_to_buffer_type" href="#sr_buffer_rousr_type_to_buffer_type">#</a> <code>sr_buffer_rousr_type_to_buffer_type</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_type</strong></td>
<td>{Real} The ERousrData to get buffer_xx of</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>{Real} buffer_xx to use for this type when writing to a buffer</td>
</tr>
</tbody>
</table>
<pre><code>sr_buffer_rousr_type_to_buffer_type(_type)
</code></pre>
<p>return a buffer type from a luarousr data type</p>
<hr>
<h4 id="sr_pool_create_pool"><a name="sr_pool_create_pool" href="#sr_pool_create_pool">#</a> <code>sr_pool_create_pool</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_alloc_script</strong></td>
<td>{Real} script to call for a new element of this <code>rousr_pool</code> <strong>Format:</strong> <code>function(_rousr_pool) -&gt; returns {*} newly created object</code> (the way you'd create a new one without a pool)</td>
</tr>
<tr>
<td><strong>[_destroy_script]</strong></td>
<td>{Real} script to call to destroy / free the element <strong>Format:</strong> <code>function(_rousr_pool, _elem) -&gt; No Return</code></td>
</tr>
<tr>
<td><strong>[_reset_script]</strong></td>
<td>{Real} script to call to reset an element after its returned to the pool <strong>Format:</strong> ``function(_rousr_pool, _elem) -&gt; No Return`</td>
</tr>
<tr>
<td><strong>[_constructor]</strong></td>
<td>{Real} script to call on returning a new element from the pool <strong>Format:</strong> <code>function(_rousr_pool, _elem) -&gt; No Return</code></td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>{Array} undefined or new <code>rousr_pool</code></td>
</tr>
</tbody>
</table>
<pre><code>sr_pool_create_pool(_alloc_script, [_destroy_script], [_reset_script], [_constructor])
</code></pre>
<p>create a <code>rousr_pool</code>, using the <code>_alloc_script</code> to create them. use <code>_destroy_script</code> to remove datastructures that are pooled. <code>rousr_pools</code> allow you to create generic pools of similiar objects for pooling resources, rather than allocating brand new ones at run-time.</p>
<hr>
<h4 id="sr_pool_destroy_pool"><a name="sr_pool_destroy_pool" href="#sr_pool_destroy_pool">#</a> <code>sr_pool_destroy_pool</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_rousr_pool</strong></td>
<td>{Array} <code>rousr_array_pool</code> to destroy</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>None</td>
</tr>
</tbody>
</table>
<pre><code>sr_pool_destroy_pool(_rousr_pool)
</code></pre>
<p>destroy a <code>rousr_pool</code> and free its memory use (data structures)</p>
<hr>
<h4 id="sr_pool_create"><a name="sr_pool_create" href="#sr_pool_create">#</a> <code>sr_pool_create</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_rousr_pool</strong></td>
<td>{Array} the <code>rousr_pool</code> object to allocate new element from</td>
</tr>
<tr>
<td><strong>[_countructor]</strong></td>
<td>{Real} called on the new object. if a constructor was defined for the pool, this <em>OVERRIDES</em> it. <strong>Format:</strong> <code>function(_rousr_pool, _elem) -&gt; No Return</code></td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>{*} a new element from the <code>rousr_pool</code></td>
</tr>
</tbody>
</table>
<pre><code>sr_pool_create(_rousr_pool, [_countructor])
</code></pre>
<p>get a fresh item, optionally call the passed constructor on the object.</p>
<hr>
<h4 id="sr_pool_release"><a name="sr_pool_release" href="#sr_pool_release">#</a> <code>sr_pool_release</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_rousr_pool</strong></td>
<td>{Array} <code>rousr_pool</code> to put <code>_element</code> in.</td>
</tr>
<tr>
<td><strong>_element</strong></td>
<td>{*} an <code>_element</code> compatible with <code>rousr_pool</code></td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>None</td>
</tr>
</tbody>
</table>
<pre><code>sr_pool_release(_rousr_pool, _element)
</code></pre>
<p>returns element to the pool to be stored and reused</p>
<hr>
<h4 id="sr_buffer_pool"><a name="sr_buffer_pool" href="#sr_buffer_pool">#</a> <code>sr_buffer_pool</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_buffer_size</strong></td>
<td>{Real} size of the buffers to generate</td>
</tr>
<tr>
<td><strong>_buffer_type</strong></td>
<td>{Real} buffer type to pass through to <code>buffer_create</code> i.e., <code>buffer_u8</code></td>
</tr>
<tr>
<td><strong>_buffer_alignment</strong></td>
<td>{Real} alignment, in bytes, of buffer</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>{Array} <code>rousr_pool</code> setup to manage bufferses</td>
</tr>
</tbody>
</table>
<pre><code>sr_buffer_pool(_buffer_size, _buffer_type, _buffer_alignment)
</code></pre>
<p>helper function to create a <code>rousr_pool</code> of buffers</p>
<hr>
<h4 id="__sr_buffer_pool_alloc"><a name="__sr_buffer_pool_alloc" href="#__sr_buffer_pool_alloc">#</a> <code>__sr_buffer_pool_alloc</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_rousr_pool</strong></td>
<td>{Array} <code>rousr_pool</code> that owns the created buffer</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>{Real} buffer id for created buffer</td>
</tr>
</tbody>
</table>
<pre><code>__sr_buffer_pool_alloc(_rousr_pool)
</code></pre>
<p>create a new buffer</p>
<hr>
<h4 id="__sr_buffer_pool_destroy"><a name="__sr_buffer_pool_destroy" href="#__sr_buffer_pool_destroy">#</a> <code>__sr_buffer_pool_destroy</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_rousr_pool</strong></td>
<td>{Array} <code>rousr_pool</code> that contains the buffer</td>
</tr>
<tr>
<td><strong>_buffer</strong></td>
<td>{Real} id of a buffer</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>None</td>
</tr>
</tbody>
</table>
<pre><code>__sr_buffer_pool_destroy(_rousr_pool, _buffer)
</code></pre>
<p>destroy a pooled buffer</p>
<hr>
<h4 id="__sr_buffer_pool_reset"><a name="__sr_buffer_pool_reset" href="#__sr_buffer_pool_reset">#</a> <code>__sr_buffer_pool_reset</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_rousr_pool</strong></td>
<td>{Array} pool being returned to</td>
</tr>
<tr>
<td><strong>_buffer</strong></td>
<td>{Real} buffer id of buffer being returned</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>None</td>
</tr>
</tbody>
</table>
<pre><code>__sr_buffer_pool_reset(_rousr_pool, _buffer)
</code></pre>
<p>reset a buffer, after being returned to the pool</p>
<hr>
<h4 id="sr_json_decode"><a name="sr_json_decode" href="#sr_json_decode">#</a> <code>sr_json_decode</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_json</strong></td>
<td>{String}</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>None</td>
</tr>
</tbody>
</table>
<pre><code>sr_json_decode(_json)
</code></pre>
<p>false</p>
<hr>
<h4 id="sr_json_encode"><a name="sr_json_encode" href="#sr_json_encode">#</a> <code>sr_json_encode</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_sr_serializable</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>[_pretty_print=false]</strong></td>
<td>{Boolean}</td>
</tr>
<tr>
<td><strong>Pretty</strong></td>
<td>TODO: print</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>None</td>
</tr>
</tbody>
</table>
<pre><code>sr_json_encode(_sr_serializable, [_pretty_print=false], Pretty)
</code></pre>
<p>false</p>
<hr>
<h4 id="__sr_json_encode_type"><a name="__sr_json_encode_type" href="#__sr_json_encode_type">#</a> <code>__sr_json_encode_type</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_sr_ds</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>_type</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>[_pretty_print=false]</strong></td>
<td>{Boolean}</td>
</tr>
<tr>
<td><strong>[_indent_length=0]</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>None</td>
</tr>
</tbody>
</table>
<pre><code>__sr_json_encode_type(_sr_ds, _type, [_pretty_print=false], [_indent_length=0])
</code></pre>
<p>false</p>
<hr>
<h4 id="sr_sort_quick"><a name="sr_sort_quick" href="#sr_sort_quick">#</a> <code>sr_sort_quick</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>list</strong></td>
<td>false</td>
</tr>
<tr>
<td><strong>comparison</strong></td>
<td>false</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>None</td>
</tr>
</tbody>
</table>
<pre><code>sr_sort_quick(list, comparison)
</code></pre>
<p>implement a quicksort you can pass a predicate to port from http://www.algolist.net/Algorithms/Sorting/Quicksort</p>
<hr>
<h4 id="sr_sort_insert"><a name="sr_sort_insert" href="#sr_sort_insert">#</a> <code>sr_sort_insert</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>list</strong></td>
<td>false</td>
</tr>
<tr>
<td><strong>predicate</strong></td>
<td>false</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>None</td>
</tr>
</tbody>
</table>
<pre><code>sr_sort_insert(list, predicate)
</code></pre>
<p>an insertion sort with a predicateported from http://www.algolist.net/Algorithms/Sorting/Insertion_sortcause why not?</p>
<hr>
<h4 id="sr_ds_safe_destroy"><a name="sr_ds_safe_destroy" href="#sr_ds_safe_destroy">#</a> <code>sr_ds_safe_destroy</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_type</strong></td>
<td>{Real} type of data structure, i.e., <code>ds_type_map</code>, <code>ds_type_list</code></td>
</tr>
<tr>
<td><strong>_ds_id</strong></td>
<td>{Real} id for the datastructure</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>{Real} undefined on success, otherwise the same id. useful for chaining calls - <code>ds = rousr_ds_safe_destroy(type, ds);</code></td>
</tr>
</tbody>
</table>
<pre><code>sr_ds_safe_destroy(_type, _ds_id)
</code></pre>
<p>check if <code>_ds_id</code> is a valid <code>_type</code> and destroy it if it is, returning the new id to use for _ds_id (undefined in most cases)</p>
<hr>
<h4 id="sr_ds_destroy"><a name="sr_ds_destroy" href="#sr_ds_destroy">#</a> <code>sr_ds_destroy</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_sr_ds</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>None</td>
</tr>
</tbody>
</table>
<pre><code>sr_ds_destroy(_sr_ds)
</code></pre>
<p>destroys a ds that has been created using a sr_*_create ds function.</p>
<hr>
<h4 id="sr_ds_get_type"><a name="sr_ds_get_type" href="#sr_ds_get_type">#</a> <code>sr_ds_get_type</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_sr_ds</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>{Real:ERousrDS}</td>
</tr>
</tbody>
</table>
<pre><code>sr_ds_get_type(_sr_ds)
</code></pre>
<p>Returns the sr_ds type</p>
<hr>
<h4 id="sr_ds_get_count"><a name="sr_ds_get_count" href="#sr_ds_get_count">#</a> <code>sr_ds_get_count</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_sr_ds_type</strong></td>
<td>{Real:ERousrDS}</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>None</td>
</tr>
</tbody>
</table>
<pre><code>sr_ds_get_count(_sr_ds_type)
</code></pre>
<p>returns the total count of this ds type currently in the game</p>
<hr>
<h4 id="sr_list_create"><a name="sr_list_create" href="#sr_list_create">#</a> <code>sr_list_create</code></h4>
<p><strong>returns</strong>: {Real}</p>
<pre><code>sr_list_create()
</code></pre>
<p>Creates a new <code>sr_list</code></p>
<hr>
<h4 id="sr_array_to_list"><a name="sr_array_to_list" href="#sr_array_to_list">#</a> <code>sr_array_to_list</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_array</strong></td>
<td>{Array}</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>{Array}</td>
</tr>
</tbody>
</table>
<pre><code>sr_array_to_list(_array)
</code></pre>
<p>converts an array to a <code>sr_list</code></p>
<hr>
<h4 id="sr_list_to_array"><a name="sr_list_to_array" href="#sr_list_to_array">#</a> <code>sr_list_to_array</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_list</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>{Array}</td>
</tr>
</tbody>
</table>
<pre><code>sr_list_to_array(_list)
</code></pre>
<p>Converts a <code>sr_list</code> to an array</p>
<hr>
<h4 id="sr_list_mark_as"><a name="sr_list_mark_as" href="#sr_list_mark_as">#</a> <code>sr_list_mark_as</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_sr_list</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>_index</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>_type</strong></td>
<td>{ERousrDS}</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>None</td>
</tr>
</tbody>
</table>
<pre><code>sr_list_mark_as(_sr_list, _index, _type)
</code></pre>
<p>Creates a nested association at given index</p>
<hr>
<h4 id="sr_list_add_list"><a name="sr_list_add_list" href="#sr_list_add_list">#</a> <code>sr_list_add_list</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_sr_list</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>_child_list</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>None</td>
</tr>
</tbody>
</table>
<pre><code>sr_list_add_list(_sr_list, _child_list)
</code></pre>
<p>Adds a new list to the list and creates an association</p>
<hr>
<h4 id="sr_list_add_map"><a name="sr_list_add_map" href="#sr_list_add_map">#</a> <code>sr_list_add_map</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_sr_list</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>_sr_map</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>None</td>
</tr>
</tbody>
</table>
<pre><code>sr_list_add_map(_sr_list, _sr_map)
</code></pre>
<p>Adds a new map to the list and creates an association</p>
<hr>
<h4 id="sr_map_create"><a name="sr_map_create" href="#sr_map_create">#</a> <code>sr_map_create</code></h4>
<p><strong>returns</strong>: {Real}</p>
<pre><code>sr_map_create()
</code></pre>
<p>Creates a new <code>sr_map</code></p>
<hr>
<h4 id="sr_map_mark_as"><a name="sr_map_mark_as" href="#sr_map_mark_as">#</a> <code>sr_map_mark_as</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_sr_map</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>_key</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>_type</strong></td>
<td>{ERousrDS}</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>None</td>
</tr>
</tbody>
</table>
<pre><code>sr_map_mark_as(_sr_map, _key, _type)
</code></pre>
<p>Creates a nested association at given key</p>
<hr>
<h4 id="sr_map_add_list"><a name="sr_map_add_list" href="#sr_map_add_list">#</a> <code>sr_map_add_list</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_sr_map</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>_key</strong></td>
<td>{*}</td>
</tr>
<tr>
<td><strong>_sr_list</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>None</td>
</tr>
</tbody>
</table>
<pre><code>sr_map_add_list(_sr_map, _key, _sr_list)
</code></pre>
<p>Sets the list to a key in the map and creates an association</p>
<hr>
<h4 id="sr_map_add_map"><a name="sr_map_add_map" href="#sr_map_add_map">#</a> <code>sr_map_add_map</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_sr_map</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>_key</strong></td>
<td>{*}</td>
</tr>
<tr>
<td><strong>_child</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>None</td>
</tr>
</tbody>
</table>
<pre><code>sr_map_add_map(_sr_map, _key, _child)
</code></pre>
<p>Sets the child map to a key in the map and creates an association</p>
<hr>
<h4 id="sr_grid_create"><a name="sr_grid_create" href="#sr_grid_create">#</a> <code>sr_grid_create</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_cols</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>_rows</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>[_default_value=undefined]</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>{Real}</td>
</tr>
</tbody>
</table>
<pre><code>sr_grid_create(_cols, _rows, [_default_value=undefined])
</code></pre>
<p>Creates a new <code>sr_grid</code></p>
<hr>
<h4 id="sr_grid_mark_as"><a name="sr_grid_mark_as" href="#sr_grid_mark_as">#</a> <code>sr_grid_mark_as</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_sr_grid</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>_x</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>_y</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>_type</strong></td>
<td>{Real:ERousrDS}</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>None</td>
</tr>
</tbody>
</table>
<pre><code>sr_grid_mark_as(_sr_grid, _x, _y, _type)
</code></pre>
<p>Creates a nested association at given x/y coord</p>
<hr>
<h4 id="sr_queue_create"><a name="sr_queue_create" href="#sr_queue_create">#</a> <code>sr_queue_create</code></h4>
<p><strong>returns</strong>: {Real}</p>
<pre><code>sr_queue_create()
</code></pre>
<p>Creates a new <code>sr_queue</code></p>
<hr>
<h4 id="sr_priority_create"><a name="sr_priority_create" href="#sr_priority_create">#</a> <code>sr_priority_create</code></h4>
<p><strong>returns</strong>: {Real}</p>
<pre><code>sr_priority_create()
</code></pre>
<p>Creates a new <code>sr_priority</code></p>
<hr>
<h4 id="sr_stack_create"><a name="sr_stack_create" href="#sr_stack_create">#</a> <code>sr_stack_create</code></h4>
<p><strong>returns</strong>: {Real}</p>
<pre><code>sr_stack_create()
</code></pre>
<p>Creates a new <code>sr_stack</code></p>
<hr>
<h4 id="__sr_ds_init"><a name="__sr_ds_init" href="#__sr_ds_init">#</a> <code>__sr_ds_init</code></h4>
<p><strong>returns</strong>: None</p>
<pre><code>__sr_ds_init()
</code></pre>
<p>create internal data structures</p>
<hr>
<hr>
<h2 id="extRousrGeneric"><a name="extRousrGeneric" href="#extRousrGeneric">#</a> extRousrGeneric</h2>
<h4 id="sr_generic_create"><a name="sr_generic_create" href="#sr_generic_create">#</a> <code>sr_generic_create</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_x</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>_y</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>_depth</strong></td>
<td>{Real} set a layer_id afterwards if you'd prefer layers.</td>
</tr>
<tr>
<td><strong>[_create=noone]</strong></td>
<td>{Real} called <code>with(new generic)</code> <strong>Format:</strong> <code>function(_generic_id) -&gt; No Return</code></td>
</tr>
<tr>
<td><strong>[_generic_type=EGenericType.Normal]</strong></td>
<td>{Real:EGenericType} type of generic to make</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>None</td>
</tr>
</tbody>
</table>
<pre><code>sr_generic_create(_x, _y, _depth, [_create=noone], [_generic_type=EGenericType.Normal])
</code></pre>
<p>create a generic object</p>
<hr>
<h4 id="sr_generic_draw_self"><a name="sr_generic_draw_self" href="#sr_generic_draw_self">#</a> <code>sr_generic_draw_self</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>[_id]</strong></td>
<td>{Real} if passed, called <code>with(_id)</code></td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>None</td>
</tr>
</tbody>
</table>
<pre><code>sr_generic_draw_self([_id])
</code></pre>
<p>function that just calls draw_self, can be used with generics</p>
<hr>
<h4 id="sr_generic_set_event"><a name="sr_generic_set_event" href="#sr_generic_set_event">#</a> <code>sr_generic_set_event</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_id</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>_hook</strong></td>
<td>{Real:EGenericHook}</td>
</tr>
<tr>
<td><strong>_event_callback</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>None</td>
</tr>
</tbody>
</table>
<pre><code>sr_generic_set_event(_id, _hook, _event_callback)
</code></pre>
<p>sr_generic_event_set - set the callback for a generic event</p>
<hr>
<hr>
<h2 id="extRousrInput"><a name="extRousrInput" href="#extRousrInput">#</a> extRousrInput</h2>
<h4 id="sr_input_system_create"><a name="sr_input_system_create" href="#sr_input_system_create">#</a> <code>sr_input_system_create</code></h4>
<p><strong>returns</strong>: None</p>
<pre><code>sr_input_system_create()
</code></pre>
<p>input_init - initialize the input data</p>
<hr>
<h4 id="sr_input_bind_input"><a name="sr_input_bind_input" href="#sr_input_bind_input">#</a> <code>sr_input_bind_input</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_input_type</strong></td>
<td>false</td>
</tr>
<tr>
<td><strong>_input_button</strong></td>
<td>false</td>
</tr>
<tr>
<td><strong>_action</strong></td>
<td>false</td>
</tr>
<tr>
<td><strong>_event</strong></td>
<td>false</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>None</td>
</tr>
</tbody>
</table>
<pre><code>sr_input_bind_input(_input_type, _input_button, _action, _event)
</code></pre>
<p>bind an input to an action</p>
<hr>
<h4 id="sr_input_register_action"><a name="sr_input_register_action" href="#sr_input_register_action">#</a> <code>sr_input_register_action</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_action</strong></td>
<td>{Real} an real or string that represents the action. this key is bound to.</td>
</tr>
<tr>
<td><strong>_action_function</strong></td>
<td>{Real} a script to callback <code>_action_function(_action, _type)</code> <code>_type</code> = pressed, released, down, down and pressed come in the same frame.</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>None</td>
</tr>
</tbody>
</table>
<pre><code>sr_input_register_action(_action, _action_function)
</code></pre>
<p>register an action type with the input system</p>
<hr>
<h4 id="sr_input_step"><a name="sr_input_step" href="#sr_input_step">#</a> <code>sr_input_step</code></h4>
<p><strong>returns</strong>: None</p>
<pre><code>sr_input_step()
</code></pre>
<p>step event function</p>
<hr>
<h4 id="sr_input_clean_up"><a name="sr_input_clean_up" href="#sr_input_clean_up">#</a> <code>sr_input_clean_up</code></h4>
<p><strong>returns</strong>: None</p>
<pre><code>sr_input_clean_up()
</code></pre>
<p>rousr input clean up event</p>
<hr>
<h4 id="sr_input_action_active"><a name="sr_input_action_active" href="#sr_input_action_active">#</a> <code>sr_input_action_active</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_action</strong></td>
<td>{Real} index of action</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>None</td>
</tr>
</tbody>
</table>
<pre><code>sr_input_action_active(_action)
</code></pre>
<p>return if an action is active</p>
<hr>
<h4 id="sr_input_action_was_active"><a name="sr_input_action_was_active" href="#sr_input_action_was_active">#</a> <code>sr_input_action_was_active</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_action</strong></td>
<td>{Real} index of action</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>None</td>
</tr>
</tbody>
</table>
<pre><code>sr_input_action_was_active(_action)
</code></pre>
<p>return if an action is active</p>
<hr>
<h4 id="sr_input_check_event"><a name="sr_input_check_event" href="#sr_input_check_event">#</a> <code>sr_input_check_event</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_events</strong></td>
<td>{Array</td>
</tr>
<tr>
<td><strong>_event_type</strong></td>
<td>{Real} <code>ERousrInputEvent</code> to find</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>{Boolean} true if <code>_events</code> is or contains <code>_event_type</code></td>
</tr>
</tbody>
</table>
<pre><code>sr_input_check_event(_events, _event_type)
</code></pre>
<p>returns true if <code>_events</code> is or cotnains <code>_event_type</code></p>
<hr>
<hr>
<h2 id="extRousrUi"><a name="extRousrUi" href="#extRousrUi">#</a> extRousrUi</h2>
<h4 id="sr_game_quit"><a name="sr_game_quit" href="#sr_game_quit">#</a> <code>sr_game_quit</code></h4>
<p><strong>returns</strong>: None</p>
<pre><code>sr_game_quit()
</code></pre>
<p>generic callback to use for quits (button callbacks mainly)</p>
<hr>
<h4 id="sr_anchor_system_init"><a name="sr_anchor_system_init" href="#sr_anchor_system_init">#</a> <code>sr_anchor_system_init</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>[_ERousrAnchorSize]</strong></td>
<td>{Real} Type to keep anchor position matching to application surface by default</td>
</tr>
<tr>
<td><strong>[_width]</strong></td>
<td>{Real} ignored unless type is Manual, width to use</td>
</tr>
<tr>
<td><strong>[_height]</strong></td>
<td>{Real} ignored unless type is Manual, height to use</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>None</td>
</tr>
</tbody>
</table>
<pre><code>sr_anchor_system_init([_ERousrAnchorSize], [_width], [_height])
</code></pre>
<p>initialize the RousrAnchor system</p>
<hr>
<h4 id="sr_anchor_display_height"><a name="sr_anchor_display_height" href="#sr_anchor_display_height">#</a> <code>sr_anchor_display_height</code></h4>
<p><strong>returns</strong>: {Real} display height</p>
<pre><code>sr_anchor_display_height()
</code></pre>
<p>return the anchor instance system's display height</p>
<hr>
<h4 id="sr_anchor_display_width"><a name="sr_anchor_display_width" href="#sr_anchor_display_width">#</a> <code>sr_anchor_display_width</code></h4>
<p><strong>returns</strong>: {Real} display width</p>
<pre><code>sr_anchor_display_width()
</code></pre>
<p>return the anchor instance system's display width</p>
<hr>
<h4 id="sr_anchor_get_width"><a name="sr_anchor_get_width" href="#sr_anchor_get_width">#</a> <code>sr_anchor_get_width</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_instance</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>{Real} anchored instance's width</td>
</tr>
</tbody>
</table>
<pre><code>sr_anchor_get_width(_instance)
</code></pre>
<p>helper fucntion to best guess width</p>
<hr>
<h4 id="sr_anchor_get_height"><a name="sr_anchor_get_height" href="#sr_anchor_get_height">#</a> <code>sr_anchor_get_height</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_instance</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>{Real} height of the instance</td>
</tr>
</tbody>
</table>
<pre><code>sr_anchor_get_height(_instance)
</code></pre>
<p>helper fucntion to best guess height</p>
<hr>
<h4 id="sr_anchor_top_right"><a name="sr_anchor_top_right" href="#sr_anchor_top_right">#</a> <code>sr_anchor_top_right</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>[_pad_right=0]</strong></td>
<td>{Real} pixels to pad on right</td>
</tr>
<tr>
<td><strong>[_pad_top=0]</strong></td>
<td>{Real} pixels to pad on top</td>
</tr>
<tr>
<td><strong>[_add_list=true]</strong></td>
<td>{Boolean} add it to the list to update on resize</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>None</td>
</tr>
</tbody>
</table>
<pre><code>sr_anchor_top_right([_pad_right=0], [_pad_top=0], [_add_list=true])
</code></pre>
<p>snap an instance to the bottom left of the screen. <strong>Called <code>with(instance)</code></strong></p>
<hr>
<h4 id="sr_anchor_bottom_left"><a name="sr_anchor_bottom_left" href="#sr_anchor_bottom_left">#</a> <code>sr_anchor_bottom_left</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>[_pad_left=0]</strong></td>
<td>{Real} pixels to pad on left</td>
</tr>
<tr>
<td>**[_pad_bottom=0]			**</td>
<td>{Real} pixels to pad on bottom</td>
</tr>
<tr>
<td><strong>[_add_list=true]</strong></td>
<td>{Boolean} add it to the list to update on resize</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>None</td>
</tr>
</tbody>
</table>
<pre><code>sr_anchor_bottom_left([_pad_left=0], [_pad_bottom=0]			, [_add_list=true])
</code></pre>
<p>snap an instance to the bottom left of the screen <strong>Called <code>with(instance)</code></strong></p>
<hr>
<h4 id="sr_anchor_stretch_top"><a name="sr_anchor_stretch_top" href="#sr_anchor_stretch_top">#</a> <code>sr_anchor_stretch_top</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>[_pad_left_or_sides=0]</strong></td>
<td>{Real} pixels to pad on left siide, or both sides if <code>_padRight</code> is undefined</td>
</tr>
<tr>
<td><strong>[_pad_top=0]</strong></td>
<td>{Real} pixels to pad on top</td>
</tr>
<tr>
<td><strong>[_pad_right=0]</strong></td>
<td>{Real} pixels to pad on the right</td>
</tr>
<tr>
<td><strong>[_add_list=true]</strong></td>
<td>{Boolean} add it to the list to update on reisze</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>None</td>
</tr>
</tbody>
</table>
<pre><code>sr_anchor_stretch_top([_pad_left_or_sides=0], [_pad_top=0], [_pad_right=0], [_add_list=true])
</code></pre>
<p>stretch this object acrosst the top. <strong>Called <code>with(instance)</code></strong></p>
<hr>
<h4 id="sr_anchor_stretch_bottom"><a name="sr_anchor_stretch_bottom" href="#sr_anchor_stretch_bottom">#</a> <code>sr_anchor_stretch_bottom</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>[_pad_left_or_sides=0]</strong></td>
<td>{Real} pixels to pad on left siide, or both sides if <code>_padRight</code> is undefined</td>
</tr>
<tr>
<td><strong>[_pad_bottom=0]</strong></td>
<td>{Real} pixels to pad on top</td>
</tr>
<tr>
<td><strong>[_pad_right=0]</strong></td>
<td>{Real} pixels to pad on the right</td>
</tr>
<tr>
<td><strong>[_add_list=true]</strong></td>
<td>{Boolean} add it to the list to update on reisze</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>None</td>
</tr>
</tbody>
</table>
<pre><code>sr_anchor_stretch_bottom([_pad_left_or_sides=0], [_pad_bottom=0], [_pad_right=0], [_add_list=true])
</code></pre>
<p>stretch this object acrosst the bottom. <strong>Called <code>with(instance)</code></strong></p>
<hr>
<h4 id="sr_title_create"><a name="sr_title_create" href="#sr_title_create">#</a> <code>sr_title_create</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_title</strong></td>
<td>{String} title string to show</td>
</tr>
<tr>
<td><strong>[_bg_color=0x5b6ee1]</strong></td>
<td>{Real} color for title text shadow</td>
</tr>
<tr>
<td><strong>[_close_action=sr_game_quit]</strong></td>
<td>{Real} action to call on close button, or <code>undefined</code> for no close button.</td>
</tr>
<tr>
<td><strong>[_esc_closes=true]</strong></td>
<td>{Boolean} escape key also calls close action</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>None</td>
</tr>
</tbody>
</table>
<pre><code>sr_title_create(_title, [_bg_color=0x5b6ee1], [_close_action=sr_game_quit], [_esc_closes=true])
</code></pre>
<p>create a new rousr title</p>
<hr>
<h4 id="sr_title_init"><a name="sr_title_init" href="#sr_title_init">#</a> <code>sr_title_init</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_title</strong></td>
<td>{String} title on titlebar</td>
</tr>
<tr>
<td>**[_fg_color=0x639bff]	**</td>
<td>{Real} title foreground color</td>
</tr>
<tr>
<td>**[_bg_color=0x5b6ee1]	**</td>
<td>{Real} title shadow color</td>
</tr>
<tr>
<td><strong>[_title_font=fnt_game_3x]					font</strong></td>
<td>{Real} to use for title</td>
</tr>
<tr>
<td><strong>[_icon=sTitleBar_Icon]</strong></td>
<td>{Real} icon to show in the corner</td>
</tr>
<tr>
<td><strong>[_bg_sprite=sTitleBar_BgStrip]</strong></td>
<td>{Real} sprite to use for background (must be a 1px strip)</td>
</tr>
<tr>
<td><strong>[_close_action=sr_game_quit],			close</strong></td>
<td>{Real} action, if <code>undefined</code>, then no close button</td>
</tr>
<tr>
<td><strong>[_esc_closes=true],								does</strong></td>
<td>{Real} escape also do the close action?</td>
</tr>
<tr>
<td><strong>[_draw_gui=true],								draw</strong></td>
<td>{Boolean} on the gui layer</td>
</tr>
<tr>
<td><strong>[_scale=3]													scale</strong></td>
<td>{Real} the title bar this much (and close button)</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>None</td>
</tr>
</tbody>
</table>
<pre><code>sr_title_init(_title, [_fg_color=0x639bff]	, [_bg_color=0x5b6ee1]	, [_title_font=fnt_game_3x]					font, [_icon=sTitleBar_Icon], [_bg_sprite=sTitleBar_BgStrip], [_close_action=sr_game_quit],			close, [_esc_closes=true],								does, [_draw_gui=true],								draw, [_scale=3]													scale)
</code></pre>
<p>called after a title bar is created (Instance Create, for instance) <strong>Called <code>with(instance)</code></strong></p>
<hr>
<h4 id="sr_dragger_init"><a name="sr_dragger_init" href="#sr_dragger_init">#</a> <code>sr_dragger_init</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>(opt=noone)onDragComplete(bool)</strong></td>
<td>false</td>
</tr>
<tr>
<td><strong>(opt=noone)onDragCheck</strong></td>
<td>false</td>
</tr>
<tr>
<td><strong>(opt=noone)onDragBegin</strong></td>
<td>false</td>
</tr>
<tr>
<td><strong>(opt=Default)draggerSlack</strong></td>
<td>false</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>None</td>
</tr>
</tbody>
</table>
<pre><code>sr_dragger_init((opt=noone)onDragComplete(bool), (opt=noone)onDragCheck, (opt=noone)onDragBegin, (opt=Default)draggerSlack)
</code></pre>
<p>call <em>with</em> an object you'd like to make draggable</p>
<hr>
<h4 id="sr_dragger_step"><a name="sr_dragger_step" href="#sr_dragger_step">#</a> <code>sr_dragger_step</code></h4>
<p><strong>returns</strong>: None</p>
<pre><code>sr_dragger_step()
</code></pre>
<p>call each step on a dragger</p>
<hr>
<h4 id="sr_dragger_set_on_complete"><a name="sr_dragger_set_on_complete" href="#sr_dragger_set_on_complete">#</a> <code>sr_dragger_set_on_complete</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_id</strong></td>
<td>{Real} dragger id</td>
</tr>
<tr>
<td><strong>_on_complete</strong></td>
<td>{Real} <strong>Format:</strong> <code>function({Boolean}_button_released)-&gt;No Return</code></td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>None</td>
</tr>
</tbody>
</table>
<pre><code>sr_dragger_set_on_complete(_id, _on_complete)
</code></pre>
<p>set the on complete callback after the fact</p>
<hr>
<h4 id="sr_dragger_set_on_check"><a name="sr_dragger_set_on_check" href="#sr_dragger_set_on_check">#</a> <code>sr_dragger_set_on_check</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_id</strong></td>
<td>{Real} dragger id</td>
</tr>
<tr>
<td><strong>_on_check</strong></td>
<td>{Real} <strong>Format:</strong> <code>function()-&gt;No Return</code></td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>None</td>
</tr>
</tbody>
</table>
<pre><code>sr_dragger_set_on_check(_id, _on_check)
</code></pre>
<p>set the on check callback after the fact</p>
<hr>
<h4 id="sr_dragger_state"><a name="sr_dragger_state" href="#sr_dragger_state">#</a> <code>sr_dragger_state</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_id</strong></td>
<td>{Real} instance id for dragger</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>{Boolean} drag state for <code>_id</code></td>
</tr>
</tbody>
</table>
<pre><code>sr_dragger_state(_id)
</code></pre>
<p>Conveinence function for state</p>
<hr>
<h4 id="sr_dragger_is_dragging"><a name="sr_dragger_is_dragging" href="#sr_dragger_is_dragging">#</a> <code>sr_dragger_is_dragging</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_id</strong></td>
<td>{Real} _id of dragable</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>{Boolean} true if we're dragging</td>
</tr>
</tbody>
</table>
<pre><code>sr_dragger_is_dragging(_id)
</code></pre>
<p>check if a draggable is dragging</p>
<hr>
<h4 id="sr_dragger_sensitivity"><a name="sr_dragger_sensitivity" href="#sr_dragger_sensitivity">#</a> <code>sr_dragger_sensitivity</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>[_dragger]</strong></td>
<td>{Real} dragger instance id</td>
</tr>
<tr>
<td><strong>[_new_sensitivity=RousrDraggerDefaultSlack]</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>None</td>
</tr>
</tbody>
</table>
<pre><code>sr_dragger_sensitivity([_dragger], [_new_sensitivity=RousrDraggerDefaultSlack])
</code></pre>
<p>Make it a sensitive dragger</p>
<hr>
<h4 id="sr_9slice_init"><a name="sr_9slice_init" href="#sr_9slice_init">#</a> <code>sr_9slice_init</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>new</strong></td>
<td>[_sprite_index=sprite_index] <code>sprite_index</code></td>
</tr>
<tr>
<td><strong>use</strong></td>
<td>[_use_surface=true] surface to draw</td>
</tr>
<tr>
<td><strong>width</strong></td>
<td>[_width=image_xscale]	 of the entire frame</td>
</tr>
<tr>
<td><strong>height</strong></td>
<td>[_height=image_yscale] of the entire frame</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>None</td>
</tr>
</tbody>
</table>
<pre><code>sr_9slice_init(new, use, width, height)
</code></pre>
<p>initialize an instance with the appropriate fields</p>
<hr>
<h4 id="sr_9slice_resize"><a name="sr_9slice_resize" href="#sr_9slice_resize">#</a> <code>sr_9slice_resize</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_id</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>_width</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>_height</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>None</td>
</tr>
</tbody>
</table>
<pre><code>sr_9slice_resize(_id, _width, _height)
</code></pre>
<p>helper functino to resize a frame</p>
<hr>
<h4 id="sr_9slice_mark_dirty"><a name="sr_9slice_mark_dirty" href="#sr_9slice_mark_dirty">#</a> <code>sr_9slice_mark_dirty</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>[_id]</strong></td>
<td>{Real} optional, id of 9slice (or this)</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>None</td>
</tr>
</tbody>
</table>
<pre><code>sr_9slice_mark_dirty([_id])
</code></pre>
<p>just a helper function so we dont need to know internals</p>
<hr>
<h4 id="sr_button_create"><a name="sr_button_create" href="#sr_button_create">#</a> <code>sr_button_create</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_label</strong></td>
<td>{String} label to use with button</td>
</tr>
<tr>
<td><strong>_click_action</strong></td>
<td>{Real} script to call when clicked <strong>Format:</strong> <code>function(_button_instance, id, user_data) -&gt; No Return</code></td>
</tr>
<tr>
<td><strong>[_can_click=noone]</strong></td>
<td>{Real} script to check if this button can be clicked, besides normal button rules. <strong>Format:</strong> <code>function(_button, _user_data) -&gt; {Boolean} _can_click</code></td>
</tr>
<tr>
<td><strong>[_depth=depth]</strong></td>
<td>{Real} depth to create at (just set layer afterwards if layer desired)</td>
</tr>
<tr>
<td><strong>[_user_data]</strong></td>
<td>{*} passed along to click fucnction (use an id to use one button callback for multiple buttons, etc)</td>
</tr>
<tr>
<td><strong>[_object_index=RousrButton]</strong></td>
<td>{Real} button object</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>{Real} id of button or noone if not created</td>
</tr>
</tbody>
</table>
<pre><code>sr_button_create(_label, _click_action, [_can_click=noone], [_depth=depth], [_user_data], [_object_index=RousrButton])
</code></pre>
<p>create a new button</p>
<hr>
<h4 id="sr_button_init"><a name="sr_button_init" href="#sr_button_init">#</a> <code>sr_button_init</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_click_action</strong></td>
<td>{Real} script to call when clicked <strong>Format:</strong> <code>function(_button, _user_data) -&gt; No Return</code></td>
</tr>
<tr>
<td><strong>_can_click</strong></td>
<td>{Real} script to check if a button can be clicked <strong>Format:</strong> <code>function(_button, _user_data) -&gt; {Boolean} _can_click</code></td>
</tr>
<tr>
<td><strong>[_user_data]</strong></td>
<td>{*} passed along on click</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>None</td>
</tr>
</tbody>
</table>
<pre><code>sr_button_init(_click_action, _can_click, [_user_data])
</code></pre>
<p>helper function for children to init common button stuff (all optional) <strong>Called <code>with(instance)</code></strong></p>
<hr>
<h4 id="sr_button_depress"><a name="sr_button_depress" href="#sr_button_depress">#</a> <code>sr_button_depress</code></h4>
<p><strong>returns</strong>: None</p>
<pre><code>sr_button_depress()
</code></pre>
<p>Put a button back into the default state</p>
<hr>
<h4 id="sr_button_can_click"><a name="sr_button_can_click" href="#sr_button_can_click">#</a> <code>sr_button_can_click</code></h4>
<p><strong>returns</strong>: None</p>
<pre><code>sr_button_can_click()
</code></pre>
<p>used by Button, returns whether button click is legal for buttonintended to be called <em>with</em> Button instance</p>
<hr>
<h4 id="sr_button_wide_create"><a name="sr_button_wide_create" href="#sr_button_wide_create">#</a> <code>sr_button_wide_create</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_label</strong></td>
<td>{String} label to use with button</td>
</tr>
<tr>
<td><strong>_click_action</strong></td>
<td>{Real} script to call when clicked <strong>Format:</strong> <code>function(_button_instance, id, user_data) -&gt; No Return</code></td>
</tr>
<tr>
<td><strong>_center_sprite</strong></td>
<td>{Real} index of center sprite, or left+right if those aren't included</td>
</tr>
<tr>
<td><strong>[_left_sprite=_center_sprite]</strong></td>
<td>{Real} index of left sprite, or left+right if those aren't included</td>
</tr>
<tr>
<td><strong>[_right_sprite=_center_sprite]</strong></td>
<td>{Real} index of right sprite, or left+right if those aren't included</td>
</tr>
<tr>
<td><strong>[_can_click=noone]</strong></td>
<td>{Real} script to check if this button can be clicked, besides normal button rules. <strong>Format:</strong> <code>function(_button, _user_data) -&gt; {Boolean} _can_click</code></td>
</tr>
<tr>
<td><strong>[_depth=depth]</strong></td>
<td>{Real} depth to create at (just set layer afterwards if layer desired)</td>
</tr>
<tr>
<td><strong>[_user_data]</strong></td>
<td>{*} passed along to click fucnction (use an id to use one button callback for multiple buttons, etc)</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>{Real} id of button or noone if not created</td>
</tr>
</tbody>
</table>
<pre><code>sr_button_wide_create(_label, _click_action, _center_sprite, [_left_sprite=_center_sprite], [_right_sprite=_center_sprite], [_can_click=noone], [_depth=depth], [_user_data])
</code></pre>
<p>create a new button</p>
<hr>
<h4 id="sr_button_wide_create_ex"><a name="sr_button_wide_create_ex" href="#sr_button_wide_create_ex">#</a> <code>sr_button_wide_create_ex</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_label</strong></td>
<td>{String} label to use with button</td>
</tr>
<tr>
<td><strong>_click_action</strong></td>
<td>{Real} script to call when clicked <strong>Format:</strong> <code>function(_button_instance, id, user_data) -&gt; No Return</code></td>
</tr>
<tr>
<td><strong>_center_sprite</strong></td>
<td>{Real} index of center sprite, or left+right if those aren't included</td>
</tr>
<tr>
<td><strong>[_left_sprite=_center_sprite]</strong></td>
<td>{Real} index of left sprite, or left+right if those aren't included</td>
</tr>
<tr>
<td><strong>[_right_sprite=_center_sprite]</strong></td>
<td>{Real} index of right sprite, or left+right if those aren't included</td>
</tr>
<tr>
<td><strong>[_center_frame=0]</strong></td>
<td>{Real} <code>image_index</code> to use for center of button (expects the 'down' version to be the next <code>image_index</code>)</td>
</tr>
<tr>
<td>**[_left_frame=0]			**</td>
<td>{Real} <code>image_index</code> to use for left of button	(expects the 'down' version to be the next <code>image_index</code>)</td>
</tr>
<tr>
<td>**[_right_frame=0]			**</td>
<td>{Real} <code>image_index</code> to use for right of button (expects the 'down' version to be the next <code>image_index</code>)</td>
</tr>
<tr>
<td><strong>[_can_click=noone]</strong></td>
<td>{Real} script to check if this button can be clicked, besides normal button rules. <strong>Format:</strong> <code>function(_button, _user_data) -&gt; {Boolean} _can_click</code></td>
</tr>
<tr>
<td><strong>[_depth=depth]</strong></td>
<td>{Real} depth to create at (just set layer afterwards if layer desired)</td>
</tr>
<tr>
<td><strong>[_user_data]</strong></td>
<td>{*} passed along to click fucnction (use an id to use one button callback for multiple buttons, etc)</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>{Real} id of button or noone if not created</td>
</tr>
</tbody>
</table>
<pre><code>sr_button_wide_create_ex(_label, _click_action, _center_sprite, [_left_sprite=_center_sprite], [_right_sprite=_center_sprite], [_center_frame=0], [_left_frame=0]			, [_right_frame=0]			, [_can_click=noone], [_depth=depth], [_user_data])
</code></pre>
<p>create a new button</p>
<hr>
<h4 id="sr_button_wide_set_sprites"><a name="sr_button_wide_set_sprites" href="#sr_button_wide_set_sprites">#</a> <code>sr_button_wide_set_sprites</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_button_wide</strong></td>
<td>{Real} instance id of button wide</td>
</tr>
<tr>
<td><strong>_center</strong></td>
<td>{Real} <code>sprite_index</code> to use for center of button</td>
</tr>
<tr>
<td><strong>[_left=_center]</strong></td>
<td>{Real} <code>sprite_index</code> to use for left side of button</td>
</tr>
<tr>
<td><strong>[_right=_center]			<code>sprite_index</code></strong></td>
<td>{Real} to use for right side of button</td>
</tr>
<tr>
<td><strong>[_center_frame=0]</strong></td>
<td>{Real} <code>image_index</code> to use for center of button (expects the 'down' version to be the next <code>image_index</code>)</td>
</tr>
<tr>
<td><strong>[_left_frame=0]			<code>image_index</code></strong></td>
<td>{Real} to use for left of button	(expects the 'down' version to be the next <code>image_index</code>)</td>
</tr>
<tr>
<td><strong>[_right_frame=0]			<code>image_index</code></strong></td>
<td>{Real} to use for right of button (expects the 'down' version to be the next <code>image_index</code>)</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>{Real} _button_wide</td>
</tr>
</tbody>
</table>
<pre><code>sr_button_wide_set_sprites(_button_wide, _center, [_left=_center], [_right=_center]			`sprite_index`, [_center_frame=0], [_left_frame=0]			`image_index`, [_right_frame=0]			`image_index`)
</code></pre>
<p>set the sprites and frame indices for a wide button</p>
<hr>
<h4 id="sr_textfield_create"><a name="sr_textfield_create" href="#sr_textfield_create">#</a> <code>sr_textfield_create</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>[_text=&quot;&quot;]</strong></td>
<td>{String} text for textfield to default to</td>
</tr>
<tr>
<td><strong>[_depth=depth</strong></td>
<td>{Real} depth to create at, or the calling object's depth</td>
</tr>
<tr>
<td><strong>[_obj=RousrTextfield]</strong></td>
<td>{Real} not really for you, man.</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>{Real} _textfield_d</td>
</tr>
</tbody>
</table>
<pre><code>sr_textfield_create([_text=&quot;&quot;], [_depth=depth, [_obj=RousrTextfield])
</code></pre>
<p>create a new textfield object</p>
<hr>
<h4 id="sr_textfield_toggle_edit"><a name="sr_textfield_toggle_edit" href="#sr_textfield_toggle_edit">#</a> <code>sr_textfield_toggle_edit</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_submit_if_done</strong></td>
<td>{Boolean} call <code>on_submit</code> if we're disabled edit</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>None</td>
</tr>
</tbody>
</table>
<pre><code>sr_textfield_toggle_edit(_submit_if_done)
</code></pre>
<p>toggle edit on a textfield (memberfunction)</p>
<hr>
<h4 id="sr_textfield_active"><a name="sr_textfield_active" href="#sr_textfield_active">#</a> <code>sr_textfield_active</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>[_new_active]</strong></td>
<td>{Real} if passed, sets the new textfield</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>{Real} current active textfield</td>
</tr>
</tbody>
</table>
<pre><code>sr_textfield_active([_new_active])
</code></pre>
<p>Return the active textfield or set a new one</p>
<hr>
<h4 id="sr_date_picker_show"><a name="sr_date_picker_show" href="#sr_date_picker_show">#</a> <code>sr_date_picker_show</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>x</strong></td>
<td>false</td>
</tr>
<tr>
<td><strong>y</strong></td>
<td>false</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>None</td>
</tr>
</tbody>
</table>
<pre><code>sr_date_picker_show(x, y)
</code></pre>
<p>show the date picker at the given position      position adjusts to screen edges</p>
<hr>
<h4 id="sr_date_picker_hide"><a name="sr_date_picker_hide" href="#sr_date_picker_hide">#</a> <code>sr_date_picker_hide</code></h4>
<p><strong>returns</strong>: None</p>
<pre><code>sr_date_picker_hide()
</code></pre>
<p>Hide datePicker and its fields</p>
<hr>
<hr>
<h2 id="extRousrDrawlist"><a name="extRousrDrawlist" href="#extRousrDrawlist">#</a> extRousrDrawlist</h2>
<h4 id="sr_drawlist_push_line"><a name="sr_drawlist_push_line" href="#sr_drawlist_push_line">#</a> <code>sr_drawlist_push_line</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_x1</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>_y1</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>_x2</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>_y2</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>[_color=c_white]</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>[_alpha=1]</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>None</td>
</tr>
</tbody>
</table>
<pre><code>sr_drawlist_push_line(_x1, _y1, _x2, _y2, [_color=c_white], [_alpha=1])
</code></pre>
<p>Pushes a line to the drawlist</p>
<hr>
<h4 id="sr_drawlist_push_rectangle"><a name="sr_drawlist_push_rectangle" href="#sr_drawlist_push_rectangle">#</a> <code>sr_drawlist_push_rectangle</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_x1</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>_y1</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>_x2</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>_y2</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>[_bordered=true]</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>[_color=c_white]</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>[_alpha=1]</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>None</td>
</tr>
</tbody>
</table>
<pre><code>sr_drawlist_push_rectangle(_x1, _y1, _x2, _y2, [_bordered=true], [_color=c_white], [_alpha=1])
</code></pre>
<p>Pushes a line to the drawlist</p>
<hr>
<h4 id="sr_drawlist_push_circle"><a name="sr_drawlist_push_circle" href="#sr_drawlist_push_circle">#</a> <code>sr_drawlist_push_circle</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_x</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>_y</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>_radius</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>[_bordered=false]</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>[_colour=c_white]</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>[_alpha=1]</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>None</td>
</tr>
</tbody>
</table>
<pre><code>sr_drawlist_push_circle(_x, _y, _radius, [_bordered=false], [_colour=c_white], [_alpha=1])
</code></pre>
<p>Pushes a circle to the drawlist</p>
<hr>
<h4 id="sr_drawlist_push_text"><a name="sr_drawlist_push_text" href="#sr_drawlist_push_text">#</a> <code>sr_drawlist_push_text</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_x</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>_y</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>_text</strong></td>
<td>{String}</td>
</tr>
<tr>
<td><strong>[_font=undefined]</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>[_halign=undefined]</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>[_valign=undefined]</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>[_colour=c_white]</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>[_alpha=1]</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>None</td>
</tr>
</tbody>
</table>
<pre><code>sr_drawlist_push_text(_x, _y, _text, [_font=undefined], [_halign=undefined], [_valign=undefined], [_colour=c_white], [_alpha=1])
</code></pre>
<p>Pushes text to the drawlist</p>
<hr>
<h4 id="sr_drawlist_push_sprite"><a name="sr_drawlist_push_sprite" href="#sr_drawlist_push_sprite">#</a> <code>sr_drawlist_push_sprite</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_x</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>_y</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>_sprite_index</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>_image_index</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>[_rotation=0]</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>[_colour=c_white]</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>[_alpha=1]</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>None</td>
</tr>
</tbody>
</table>
<pre><code>sr_drawlist_push_sprite(_x, _y, _sprite_index, _image_index, [_rotation=0], [_colour=c_white], [_alpha=1])
</code></pre>
<p>Pushes a sprite to the drawlist</p>
<hr>
<h4 id="sr_drawlist_push_sprite_scaled"><a name="sr_drawlist_push_sprite_scaled" href="#sr_drawlist_push_sprite_scaled">#</a> <code>sr_drawlist_push_sprite_scaled</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_x</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>_y</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>_sprite_index</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>_image_index</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>_image_xscale</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>_image_yscale</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>[_rotation=0]</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>[_colour=c_white]</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>[_alpha=1]</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>None</td>
</tr>
</tbody>
</table>
<pre><code>sr_drawlist_push_sprite_scaled(_x, _y, _sprite_index, _image_index, _image_xscale, _image_yscale, [_rotation=0], [_colour=c_white], [_alpha=1])
</code></pre>
<p>Pushes a sprite to the drawlist</p>
<hr>
<h4 id="sr_drawlist_push_sprite_stretched"><a name="sr_drawlist_push_sprite_stretched" href="#sr_drawlist_push_sprite_stretched">#</a> <code>sr_drawlist_push_sprite_stretched</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_x</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>_y</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>_sprite_index</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>_image_index</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>_width</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>_height</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>[_rotation=0]</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>[_colour=c_white]</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>[_alpha=1]</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>None</td>
</tr>
</tbody>
</table>
<pre><code>sr_drawlist_push_sprite_stretched(_x, _y, _sprite_index, _image_index, _width, _height, [_rotation=0], [_colour=c_white], [_alpha=1])
</code></pre>
<p>Pushes a sprite to the drawlist</p>
<hr>
<h4 id="sr_drawlist_push_sprite_part"><a name="sr_drawlist_push_sprite_part" href="#sr_drawlist_push_sprite_part">#</a> <code>sr_drawlist_push_sprite_part</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_x</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>_y</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>_sprite_index</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>_image_index</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>_source_left</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>_source_top</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>_source_width</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>_source_height</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>[_rotation=0]</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>[_colour=c_white]</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>[_alpha=1]</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>None</td>
</tr>
</tbody>
</table>
<pre><code>sr_drawlist_push_sprite_part(_x, _y, _sprite_index, _image_index, _source_left, _source_top, _source_width, _source_height, [_rotation=0], [_colour=c_white], [_alpha=1])
</code></pre>
<p>Pushes a sprite to the drawlist</p>
<hr>
<h4 id="sr_drawlist_push_sprite_part_scaled"><a name="sr_drawlist_push_sprite_part_scaled" href="#sr_drawlist_push_sprite_part_scaled">#</a> <code>sr_drawlist_push_sprite_part_scaled</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_x</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>_y</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>_sprite_index</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>_image_index</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>_source_left</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>_source_top</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>_source_width</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>_source_height</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>_image_xscale</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>_image_yscale</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>[_rotation=0]</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>[_colour=c_white]</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>[_alpha=1]</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>None</td>
</tr>
</tbody>
</table>
<pre><code>sr_drawlist_push_sprite_part_scaled(_x, _y, _sprite_index, _image_index, _source_left, _source_top, _source_width, _source_height, _image_xscale, _image_yscale, [_rotation=0], [_colour=c_white], [_alpha=1])
</code></pre>
<p>Pushes a sprite to the drawlist</p>
<hr>
<h4 id="sr_drawlist_push_sprite_part_stretched"><a name="sr_drawlist_push_sprite_part_stretched" href="#sr_drawlist_push_sprite_part_stretched">#</a> <code>sr_drawlist_push_sprite_part_stretched</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_x</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>_y</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>_sprite_index</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>_image_index</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>_source_left</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>_source_top</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>_source_width</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>_source_height</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>_width</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>_height</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>[_rotation=0]</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>[_colour=c_white]</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>[_alpha=1]</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>None</td>
</tr>
</tbody>
</table>
<pre><code>sr_drawlist_push_sprite_part_stretched(_x, _y, _sprite_index, _image_index, _source_left, _source_top, _source_width, _source_height, _width, _height, [_rotation=0], [_colour=c_white], [_alpha=1])
</code></pre>
<p>Pushes a sprite to the drawlist</p>
<hr>
<h4 id="sr_drawlist_push_grid"><a name="sr_drawlist_push_grid" href="#sr_drawlist_push_grid">#</a> <code>sr_drawlist_push_grid</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_x1</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>_y1</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>_x2</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>_y2</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>_cell_size_x</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>_cell_size_y</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>[_color=c_white]</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>[_alpha=1]</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>None</td>
</tr>
</tbody>
</table>
<pre><code>sr_drawlist_push_grid(_x1, _y1, _x2, _y2, _cell_size_x, _cell_size_y, [_color=c_white], [_alpha=1])
</code></pre>
<p>Pushes a grid to the drawlist</p>
<hr>
<h4 id="sr_drawlist_pop"><a name="sr_drawlist_pop" href="#sr_drawlist_pop">#</a> <code>sr_drawlist_pop</code></h4>
<p><strong>returns</strong>: None</p>
<pre><code>sr_drawlist_pop()
</code></pre>
<p>Pops the last item from the drawlist</p>
<hr>
<h4 id="sr_drawlist_set_depth"><a name="sr_drawlist_set_depth" href="#sr_drawlist_set_depth">#</a> <code>sr_drawlist_set_depth</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_depth</strong></td>
<td>{Real}</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>None</td>
</tr>
</tbody>
</table>
<pre><code>sr_drawlist_set_depth(_depth)
</code></pre>
<p>Sets the depth of the drawlist</p>
<hr>
<h4 id="sr_drawlist_draw_enable"><a name="sr_drawlist_draw_enable" href="#sr_drawlist_draw_enable">#</a> <code>sr_drawlist_draw_enable</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>enable</strong></td>
<td>{Boolean}</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>None</td>
</tr>
</tbody>
</table>
<pre><code>sr_drawlist_draw_enable(enable)
</code></pre>
<p>Enables or disables drawing of the drawlist. Disable drawing and call sr_drawlist_draw to manually draw the drawlist</p>
<hr>
<h4 id="sr_drawlist_draw"><a name="sr_drawlist_draw" href="#sr_drawlist_draw">#</a> <code>sr_drawlist_draw</code></h4>
<p><strong>returns</strong>: None</p>
<pre><code>sr_drawlist_draw()
</code></pre>
<p>Draws the drawlist. This is handled automatically at the drawlists depth unless you disabled default drawin with <code>sr_drawlist_draw_enable</code></p>
<hr>
<hr>
